body{
font-family: "Roboto", sans-serif;
}

.logo{
font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
}

.logo-header{
   color: #000000;
}

/* hero */

.hero-section{
    background-color: #2F303A;;
}

.hero-title{
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.hero-btn{
background: #2196F3;
}
.btn-text{
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
align-items: center;
text-align: center;
color: #FFFFFF;
}